.appWrapper {
  img {
    width: 100px;
    height: 100px;
    padding: 10px;
  }

  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin-top: 20px;

}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}