.modalWindowContentWrapper{
  background-color: white;
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.modalWindowWrapper{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}