.apps{
  display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1335px;
    margin: 0 auto;
}
.dashboardTools{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


